<%= form_for lesson, remote: true do |f| %>
	<div class="form-group">
		<%= f.text_area :content, placeholder: 'نظر خود را اضافه کنید...', class: "comment_content form-control",
		id: "comment_content_#{lesson.id}",
		data: { lesson_id: "#{lesson.id}",
		value: "#{lesson.comments.count}" } %>
	</div>
	<%= f.submit :submit, class: 'comment-submit-button btn btn-success' %>
<% end %>