<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 pull-right">
				<p>&copy; تمام حقوق مادی و معنوی این وبسایت متعلق به شتابیاد می باشد.</p>
			</div>
			<div class="col-md-6">
				<div class="col-md-3 inspect">وبلاگ شتابیاد</div>
				<div class="col-md-3 inspect">درباره شتابیاد</div>
				<div class="col-md-3 inspect">درباره ...</div>
				<div class="col-md-3 inspect">دوره ها</div>
			</div>
		</div>
	</div>
</footer>