<footer>
	<div class="container">
		<div class="row first">
			<div class="col-md-6 pull-right">
				<p>&copy; تمام حقوق مادی و معنوی این وبسایت متعلق به شتابیاد می باشد.</p>
			</div>
			<div class="col-md-6">
				<div class="col-md-3 inspect">وبلاگ شتابیاد</div>
				<div class="col-md-3 inspect">درباره شتابیاد</div>
				<div class="col-md-3 inspect">درباره ...</div>
				<div class="col-md-3 inspect">دوره ها</div>
			</div>
		</div>
		<div class=row>
			<div class="col-md-6 pull-right footer-socials">
				<a href="https://www.instagram.com/shetabyad/"><i class="fa fa-instagram fa-lg"></i></a>
				<a href="https://t.me/shetabyad"><i class="fa fa-telegram fa-lg"></i></a>
				<a href="https://github.com/shetabyad"><i class="fa fa-github fa-lg"></i></a>
			</div>
		</div>
	</div>
</footer>