<% title 'درباره ما' %>
<section id="about-us">
	<div class="hero">
		<div class="container">
			<div class="row">
				<h1 class="text-center">درباره ما</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="about-content">
					<p>
						همانگونه که می دانید تکنولوژی ها و پلت فرم های توسعه اپلیکیشن های موبایل و وب سایت ها روز به روز در حال تغییر و پیشرفت هستند. از جمله این تکنولوژی ها و فریموورک هایی که این روزها با سرعت بسیار بالایی در حال گسترش هستند می توان به روبی آن ریلز (Ruby on Rails) برای توسعه وب سایت ها و وب اپلیکیشن ها و آی او اس (iOS) سیستم عامل محبوب اپل نام برد. 
						آنچه مشخص است با پیشرفت این تکنولوژی ها کاربرد آن ها آسان تر و در عین حال تخصصی تر می گردد و همچنین با توجه به نو ظهور بودن آن ها منابع معتبر برای یادگیری آن ها نیز در دسترس نخواهد بود. <br>
				روبی آن ریلز (Ruby on Rails):
				<br/>
						روبی آن ریلز که نام کامل آن روبی آن ریلز می باشد، در واقع یک فریموورک کاربردی سمت سرور به نام ریلز است که با زبان برنامه نویسی روبی توسعه داده شده است.
						این فریموورک در سال ۲۰۰۴ به همت اقای دیوید هنمیر هنسون (David Heinemeier Hanson) ایجاد شد و بعد  از آن به سرعت گسترش یافت تا جایی که تا الان نام های بزرگ و غول های تکنولوژی این روزها مانند Twitter، Airbnb، Shopify، SoundCloud، Square، Zendesk، Hulu از آن برای توسعه سیستم های خود استفاده کرده اند.
						این فریموورک بر مبنای معماری MVC (Model View Controller) می باشد و با شعار DRY (Do not repeat yourself) به معنی "در کدنویسی از کدهای تکراری استفاده نکن" به صورت متن باز در اختیار توسعه دهندگان قرار گرفته است.
						فریموورک ریلز بسیار کاربردی و به روز بوده به صورتی که بسیاری از قسمت های مختلف یک وب اپلیکیشن را می توان به کمک کاممپوننت های آن (Gems ) توسعه داد.
						<br>
						آی او اس (iOS):
						<br/>
						پلت فرم iOS چنان گسترش یافته و همه گیر است که لزومی به توضیح آن نمی باشد. فقط به ذکر این چند نکته اکتفا می کنیم که:
						تعداد کل دستگاه های آیفون فروخته شده تا کنون بیش از یک میلیارد دستگاه می باشد که این یعنی در هر دقیقه تقریبا ۳۹۵ دستگاه آیفون به فروش رسیده است.
						تعداد کاربران آیفون فقط در کشور آمریکا بیش از ۸۵ میلیون کاربر فعال می باشد.
						بیش از ۹۴ درصد از سود حاصل از فروش کل گوشی های هوشمند متعلق به شرکت اپل است.
						بیشترین ابزاری که با آن کاربران ایمیل های خود را چک می کنند گوشی ایفون است.
					و بسیاری از رکوردهای (به واقع) دیگر.
					<br>
						حتی یکی از دلایل فوق هم لازم است تا ما را به عنوان یک توسسعه دهنده و یا فردی که در نظر دارد برنامه نویسی را آغاز کند متقاعد کند که به سراغ توسعه اپلیکیشن های مبتنی بر سیستم عامل آی او اس برویم.
						اپ استور روز به روز در حال گسترش است و شرکت ها و برنامه نویسان مستقل توسعه دهنده بازی و اپلیکیشن های کاربردی روز به روز بر درآمد خود از این بازار مجازی پر بیننده می افزایند و این در حالی است که توسعه دهندگان کشور ما از این درآمد زایی و به طبع ان اشتغال زایی بی نصیب هستند. <br>
						مجموعه شتابیاد با هدف آموزش تخصصی برنامه نویسی و با توجه به کمبود منابع کاربردی در دو زمینه وب سایت و موبایل و فریموورک ریلز و پلت فرم آی اوس تشکیل گردید تا بتواند به کاربران ایرانی و پارسی زبان جزییات و مبانی این دو تکنولوژی را بیاموزد.
						امیدواریم تا با حمایت شما کاربران عزیز گامی هرچند کوچک در جهت رشد و تعالی صنعت توسعه وب سایت ها، وب اپلیکیشن ها و برنامه نویسی موبایل برداریم.

					<br/>	با تشکر
		<br/>				مدیر و موسس وبسایت شتابیاد
	<br/>
						محسن صادق بیگی
					</p>
				</div>
			</div>
		</div>
	</div>
</section>