<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Ruby on Rails tutorial website</h1>
		<p>from here, no need to other place ... <i class="fa fa-thumbs-o-up fa-lg"></i></p>
		<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success" %>
	</div>
</div>