<div class="jumbotron">
	<div class="container">
		<h1>به سایت آموزش روبی آن ریلز خوش آمدید</h1>
		<p>اولین سایت آموزش تخصصی روبی ان ریلز در ایران <i class="fa fa-thumbs-o-up fa-lg"></i></p>
		<%= link_to 'ثبت نام کنید', new_user_registration_path, class: "btn btn-success" %>
	</div>
</div>