<section id="errors">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
				<h1>خطای ۴۰۴</h1>
        <h3>صفحه مورد نظر شما در دسترس نیست.</h3>
        <%= link_to 'بازگشت', :back %>
      </div>
    </div>
  </div>
</section>