<div class="panel panel-default panel-list">
  <div class="panel-heading">آخرین آموزش ها</div>
    <% lessons.each do |lesson| %>
      <div class="panel-body list-lesson-body">
				<div class="thumbnail">
					<%= image_tag lesson.thumbnail_image, class: "img-responsive" if lesson.thumbnail_image? %>
	        <p><%= link_to lesson.title, lesson %></p>
				</div>
      </div>
  <% end %>
</div>
