<section id="lesson-show">
	<div class="ui grid">
		<div class="fourteen wide column">
			<h1 class="ui header"><%= @lesson.title %></h1>
		</div>
		<div class="sixteen wide column">
			<video class="afterglow" id="myvideo" width="800" height="400">
	      <source type="video/mp4" src="<%= @lesson.lesson_video %>" />
	    </video>
		</div>
		<div class="fourteen wide column">
			<%= @lesson.description %>
		</div>
	</div>
</section>

<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593a8f56bb059f35"></script> 
	
	
	
	