/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "gritter";
@import "font-awesome-sprockets";
@import "font-awesome";

//GLOBALS
* {
	box-sizing: border-box;	
}

@font-face {
	font-family: BYekan;
	src: asset-url("BYekan.ttf");
}

body {
	font-family: BYekan, sans-serif;
}

p {
	font-size: 16px;
}

#error_explanation {
	background-color: #E8911A;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	h2 {
		font-size: 20px;
		margin: 0;
		padding: 5px 0;
	}
	p {
		margin: 0;
	}
}

.alert {
	//display: none;
}

.gritter-close {
	display: block;
}

.gritter-title {
	font-family: BYekan, sans-serif;
	font-size: 18px;
}

.gritter-without-image {
	p {
		font-family: BYekan, sans-serif;
	}
}

.highlight {
	pre {
		direction: ltr;
	}
	span {
		font-size: 15px;
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;	
	}
}

//LOCALS

//NAVBAR
.navbar {
	font-size: 18px;
	padding: 10px 0;
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	background: #011627;
	.navbar-left {
		li > a {
			color: #FDFFFC;
			&:hover {
				color: #d1d1d1;
			}
		}
	}
	.dropdown {
		background-color: #011627;
		.dropdown-menu {
			background-color: #182B3A;
			li > a {
				color: #FDFFFC;
				text-align: right;
				&:hover {
					color: #d1d1d1;
				}
			}
			.fa {
				padding: 8px 0 0px 8px;
			}
		}
	}
}

ul.nav.navbar-nav .dropdown .dropdown-toggle {
	.fa {
			padding-left: 5px;
		}
	.caret {
		margin-left: 5px;
	}
}

ul.nav.navbar-nav .dropdown.open .dropdown-toggle {
	background-color: #182B3A;
}

ul.nav.navbar-nav li.dropdown.open ul.dropdown-menu li a:hover {
	background-color: #182B3A;
	color: #d1d1d1;
}

ul.nav.navbar-nav li.dropdown.open ul.dropdown-menu li a:focus {
	background-color: #182B3A;
	color: #d1d1d1;
}

ul.nav.navbar-nav li.dropdown.open ul.dropdown-menu li.divider {
	background-color: #adadad;
}

ul.nav.navbar-nav .dropdown .dropdown-toggle {
	color: #FDFFFC;
	&:hover {
		color: #d1d1d1;
	}
}

.navbar-header > .navbar-nav > li > a {
	color: #FDFFFC;
}
.navbar-header {
	img {
		margin-top: 8px;
	}
	font-size: 30px;
}

.navbar-header > .navbar-brand {
	color: #FDFFFC;
	font-size: 25px;
	&:hover {
		color: #d1d1d1;
	}
}

.navbar-nav > .navbar-text {
	color: #FDFFFC;
}


//HOME PAGE 
.jumbotron {
	padding: 120px 0 0 0;
	background: #011627;
	color: #FDFFFC;
	h1 {
		font-size: 55px;
	}
	h2 {
		text-align: center;
	}
	p {
		text-align: center;
		font-size: 18px;
		line-height: 30px;
	}
	.btn-success {
		margin-top: 30px;
		padding: 12px 20px;
		font-size: 18px;
	}
	.row {
		border-top: solid 2px #FDFFFC;
		margin: 100px 0 20px 0;
		background-color: #3CD5C1;
		box-shadow: 0 3px 3px #d8d8d8;
		hr {
			width: 50%;
		}
		.hero-para {
			border-right: solid 2px #FDFFFC;
			border-left: solid 2px #FDFFFC;
		}
		.col-md-3 {
			padding: 20px;
			transition: .2s background-color ease;
			background-color: #3CD5C1;
			&:hover {
				background-color: #36C0AE;
			}
		}
	}
}

.btn {
	background-color: #F71735;
	border-color: #F71735;
	border-radius: 0;
	&:hover {
		background-color: darken(#F71735, 10%);
		border-color:  darken(#F71735, 10%);
	}
	&:focus {
		background-color: darken(#F71735, 10%);
		border-color:  darken(#F71735, 10%);
	}
}

#first {
	padding: 70px 0;
	background-color: #FDFFFC;
	h2 {
		color: #011627;
		margin: 0;
	}
	.row {
		margin-top: 80px;
		.glyphicon {
			font-size: 2.5em;
		}
	}
	p {
		margin-top: 30px;
	}
	.divider {
		border-right: solid 1px #d1d1d1;
		border-left: solid 1px #d1d1d1;
	}
}

#about {
	padding: 80px 0;
	background-color: #E8911A;
	color: #FDFFFC;
	a {
		color: #FDFFFC;
		&:hover {
			color: #FDFFFC;
		}
	}
	h3 {
		font-size: 20px;
		line-height: 32px;
		margin-bottom: 30px;
	}
	.more {
		padding: 15px 20px;
		border: 1px solid #fff;
		margin-top: 30px;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			background-color: #fff;
			color: #000;
		}
	}
}

#last-lessons {
	padding: 100px 0;
	background-color: #FDFFFC;
}

//LOGIN AND SIGNUP PAGES
#form-devise {
	padding: 80px 0;
	background-color: #FDFFFC;
	.panel {
		box-shadow: 0 0 30px #d1d1d1;
		.panel-heading {
			text-align: center;
			background-color: #fff;
			border-bottom: none;
		}
	}

	.panel-footer {
		background-color: #fff;
	}

	.form-control {
		border: 1px solid #d1d1d1;
		border-radius: 0;
		outline: none;
		padding: 0.7em;
		height: 40px;
		&:focus {
			border: solid 1px #D18317;
			box-shadow: 0 0 3px #D18317;
		}
	}
}

//TUTORIAL INDEX
#tutorial-index {
	padding: 40px 0;
	.well {
		border: none;
		background-color: #FDFFFC;
		box-shadow: 0 0px 3px rgba(0,0,0,0.15);
		transition: box-shadow 0.3s ease-in-out;
		a {
			color: #011627;
			&:hover {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
		img {
			margin-top: 20px;
		}
		&:hover {
			box-shadow: 0 0px 15px rgba(0,0,0,0.3);
		}
		&:after {
			box-shadow: 0 5px 15px rgba(0,0,0,0.3);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		&:hover::after {
			opacity: 1;
		}
	}
}

//LESSON INDEX
#lessons-index {
	.lessons-index-hero {
		padding: 80px 0;
		background: #011627;
		h1 {
			color: #FDFFFC;
			margin-right: 30px;
		}
		p {
			margin-top: 30px;
			color: #FDFFFC;
			font-size: 20px;
			margin-right: 10px;
		}
		.fa {
			color: #F71735;
			margin-left: 10px;
		}
	}
	.row {
		padding: 50px 0;
	}
	.col-md-4 {
		padding-bottom: 50px;
	}
	.panel {
		padding: 0;
		margin: 0;
		border: none;
		box-shadow: 0 0px 3px rgba(0,0,0,0.15);
		transition: box-shadow 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
		&:hover {
			box-shadow: 0 0px 15px rgba(0,0,0,0.3);
			transform: scale(1.01, 1.01)
		}
		&:after {
			box-shadow: 0 5px 15px rgba(0,0,0,0.3);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		&:hover::after {
			opacity: 1;
		}
	}
	.panel-footer {
		background-color: #FDFFFC;
		border: none;
		position: relative;
		.fa-like {
			color: #F71735;
			position: absolute;
			bottom: 15px;
			left: 15px;
		}
		.fa-comment {
			color: #F71735;
			position: absolute;
			bottom: 15px;
			right: 15px;
		}
		.like-number {
			position: absolute;
			bottom: 10px;
			left: 40px;
		}
		.comment-number {
			position: absolute;
			bottom: 10px;
			right: 40px;
		}
	}
	.panel-heading {
		padding: 0;
		position: relative;
		border: none;
		.play {
			color: #FF9F1C;
			position: absolute;
			bottom: 20px;
			left: 15px;
		}
		a {
			padding: 15px;
			margin: 0;
			width: 100%;
			background-color: rgba(0,0,0,.3);
			color: #FDFFFC;
			position: absolute;
			z-index: 1000;
			bottom: 15px;
			&:hover {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
}

//LESSON SHOW
#lesson-show {
	//padding: 100px 0;
	h1 {
		padding: 0;
		margin: 0;
	}
	h4 {
		color: #b6b6b6;
		margin-right: 10px;
	}
	.fa {
		color: #F71735;
		padding-top: 10px;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	.like-number {
		font-family: BYekan, sans-serif;
		font-size: 40px;
		padding-bottom: 10px;
	}
	.title {
		padding-top: 15px;
	}
	.panel {
		border: none;
	}
	.panel-body {
		margin: 20px 0;
		background: #FDFFFC;
		box-shadow: 0 0 3px #E6E8E6;
		border: solid 1px rgba(0, 0, 0, 0.2);
		padding: 30px;
		font-size: 16px;
		line-height: 32px;
	}
	.panel-heading {
		background-color: #000;
		border: none;
		border-radius: 0;
		color: #FDFFFC;
	}
	.panel-footer {
		background-color: #fff;
		border: 1px solid #d6d6d6;
		
		.form-control {
			direction: ltr;
			height: 100px;
			&:focus {
				border: solid 1px #D18317;
				box-shadow: 0 0 3px #D18317;
			}
		}
		a {
			color: #FFA730;
			&:hover {
				text-decoration: none;
				color: darken(#FFA730, 10%);
			}
		}
		.fa {
			color: red;
		}
	}
	#comment {
		.user-name {
			margin: 0;
			padding: 5px 10px;
			background-color: #E8911A;
			p {
				margin-top: 5px;
				font-size: 16px;
				color: #FDFFFC;
			}
			.stuff {
				margin: 0;
				padding-top: 6px;
			}
			.fa {
				color: #FDFFFC;
				padding: 5px;
			}
		}
		.comment-content {
			margin: 0;
			box-shadow: none;
			border-top: none;
			padding: 15px 30px;
			p {
				font-size: 15px;
			}
		}
	}
}

//FOOTER
footer {
	padding: 40px 0;
	background: #E8911A;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	color: #FDFFFC;
	display: block;
}








