/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require commontator/application
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "gritter";
@import "font-awesome-sprockets";
@import "font-awesome";

//GLOBALS
* {
	box-sizing: border-box;	
}

@font-face {
	font-family: BYekan;
	src: asset-url("BYekan.ttf");
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	padding-bottom: 250px;
	position: relative;
	font-family: BYekan, sans-serif;
	min-height: 100%;
	margin: 0;
}

p {
	font-size: 16px;
}

#error_explanation {
	background-color: #E8911A;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	h2 {
		font-size: 20px;
		margin: 0;
		padding: 5px 0;
	}
	p {
		margin: 0;
	}
}

.tooltip {
	font-family: BYekan, sans-serif;
	text-align: right;
}

.alert {
	margin: 0;
	border: none;
	border-radius: 0;	
}

.gritter-close {
	display: block;
}

.alert-info {
	background-color: #C3B2B6;
	color: #fff;
}

.gritter-title {
	font-family: BYekan, sans-serif;
	font-size: 18px;
	color: #333;
	text-shadow: none;
}

.gritter-item p {
	font-family: BYekan, sans-serif;
	color: #333;
}

.gritter-item.gritter-css3 {
	border: 1px solid #43AEF8;
  background: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-top: 12px;
  padding-bottom: 16px;
	&:hover {
		border: 1px solid #43AEF8;
	  //padding-top: 12px;
	  //padding-bottom: 16px;
		padding: 12px 11px 16px 9px;
	}
}

.highlight {
	pre {
		direction: ltr;
	}
	span {
		font-size: 15px;
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;	
	}
}

//LOCALS

//NAVBAR
.navbar {
	font-size: 14px;
	padding: 10px 0;
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43aef8+0,15377e+100 */
	background: rgb(67,174,248) !important; /* Old browsers */
	background: -moz-linear-gradient(left, rgba(67,174,248,1) 0%, rgba(21,55,126,1) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(67,174,248,1) 0%,rgba(21,55,126,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(67,174,248,1) 0%,rgba(21,55,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43aef8', endColorstr='#15377e',GradientType=1 ) !important; /* IE6-9 */
	.navbar-left {
		li > a {
			color: #FDFFFC;
			transition: color 0.3s;
			&:hover {
				transition: color 0.3s;
				color: #dddfdf;
			}
		}
	}
	.dropdown {
		background-color: #43AEF8;
		transition: background-color 0.3s;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		&:hover {
			transition: background-color 0.3s;
			background-color: #64B9FA;
		}
		.dropdown-menu {
			background-color: #43AEF8;
			li > a {
				color: #FDFFFC;
				text-align: right;
				&:hover {
					color: #d1d1d1;
				}
			}
			.fa {
				padding: 8px 0 0px 8px;
			}
		}
	}
}

ul.nav.navbar-nav .dropdown .dropdown-toggle {
	border-radius: 5px;
	.fa {
			padding-left: 5px;
		}
	.caret {
		margin-left: 5px;
	}
}

ul.nav.navbar-nav .dropdown.open .dropdown-toggle {
	background-color: #43AEF8;
}

ul.nav.navbar-nav li.dropdown.open ul.dropdown-menu li a:hover {
	background-color: #64B9FA;
	color: #fff;
}

ul.nav.navbar-nav li.dropdown.open ul.dropdown-menu li a:focus {
	background-color: #64B9FA;
	color: #fff;
}

ul.nav.navbar-nav li.dropdown.open ul.dropdown-menu li.divider {
	background-color: #C3B2B6;
}

ul.nav.navbar-nav .dropdown .dropdown-toggle {
	color: #FDFFFC;
	&:hover {
		color: #fff;
	}
}

.navbar-header > .navbar-nav > li > a {
	color: #FDFFFC;
}
.navbar-header {
	img {
		margin-top: 8px;
	}
	font-size: 30px;
}

.navbar-header > .navbar-brand {
	color: #FDFFFC;
	padding-top: 18px;
	padding-right: 10px;
	font-size: 30px;
	transition: color 0.3s;
	&:hover {
		transition: color 0.3s;
		color: #dddfdf;
	}
}

.navbar-nav > .navbar-text {
	color: #FDFFFC;
}

//HOME PAGE 
.jumbotron {
	padding: 150px 0 100px 0;
	margin-bottom: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43aef8+0,15377e+100 */
	background: rgb(67,174,248); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(67,174,248,1) 0%, rgba(21,55,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(67,174,248,1) 0%,rgba(21,55,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(67,174,248,1) 0%,rgba(21,55,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43aef8', endColorstr='#15377e',GradientType=1 ); /* IE6-9 */
	color: #fff;
	h1 {
		font-size: 55px;
		padding: 10px 0 0 0;
		margin-bottom: 10px;
	}
	h2 {
		margin: 0;
		text-align: right;
	}
	p.first {
		color: #d1d1d1;
		margin-top: 0;
		font-size: 14px;
	}
	p {
		margin-top: 40px;
		text-align: right;
		font-size: 18px;
		line-height: 30px;
	}
	a {
			color: #64B9FA;
			font-size: 18px;
			background-color: #fff;
			border-color: #fff;
			border-radius: 5px;
			margin-top: 10px;
			padding: 13px 26px;
			box-shadow: 0 1px 5px rgba(0,0,0,0.15);
			//transition: color 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #9CD2FB;
				//transition: color 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				box-shadow: 0, 0, 15px, rgba(0, 0, 0, 0.3);
			}
			&:focus {
				background-color: darken(#fff, 10%);
				border-color:  darken(#fff, 10%);
				color: #64B9FA;
			}
			&:active {
				background-color: darken(#fff, 10%);
				border-color:  darken(#fff, 10%);
				color: #64B9FA;
			}
		}
	.navbar-btn {
		margin-top: 30px;
		padding: 12px 20px;
		font-size: 18px;
		//background-color: #F71735;
	}
	.iphone {
		position: absolute;
		left: 250px;
		top: -40px;
		width: 254px;
		height: 435px;
		z-index: 1001;
	}
	.mac {
		position: absolute;
		left: -50px;
		top: 30px;
		width: 600px;
		//transform: scale(1.2, 1.2);
		z-index: 1000;
	}
}

.hero-socials {
	background-color: #15377E;
	padding: 16px 0;
	.fa {
		color: #fff;
		position: relative;
	}
	a {
		position: absolute;
		bottom: 2px;
		right: 40px;
		color: #d6d6d6;
		font-size: 12px;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: #fff;
			transition: all 0.3s ease-in-out;
			text-decoration: none;
		}
	}
}

//TOOLS
#tools {
	padding: 50px 0 0 0;
	background-color: #F6F7FA;
	h3 {
		line-height: 40px;
	}
	p {
		color: #727272;
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 30px;
	}
}

//FIRST
#first {
	padding-bottom: 30px;
	background-color: #F6F7FA;
	h2 {
		color: #011627;
		margin: 0;
	}
	.row {
		margin-top: 80px;
		.fa {
			color: #3D9FE2;
		}
	}
	h4 {
		margin-top: 20px;
	}
	p {
		color: #727272;
		margin-top: 20px;
		line-height: 30px;
	}
}

#about {
	padding: 80px 0;
	background-color: #fff;
	color: #FDFFFC;
	h2 {
		color: #333;
	}
	a {
		color: #3D9FE2;
		transition: color 0.3s;
		&:hover {
			color: #76C4F9;
			transition: color 0.3s;
		}
	}
	p {
		color: #a6a6a6;
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 30px;
	}
	.more {
		padding: 15px 22px;
		color: #fff;
		background-color: #64B9FA;
		border: 1px solid #64B9FA;
		margin-top: 30px;
		text-decoration: none;
		border-radius: 5px;
		transition: background-color 0.3s;
		&:hover {
			transition: color 0.3s;
			text-decoration: none;
			background-color: #15377E;
			border-color: #15377E;
			color: #fff;
		}
	}
}

#last-lessons {
	padding: 30px 0 50px 0;
	background-color: #15377E;
	.row > .col-md-4 > .well {
		border-radius: 5px;
		padding: 5px;
		position: relative;
		border-radius: 0;
		background-color: #fff;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
		transition: box-shadow 0.3s ease-in-out;
		&:hover {
			transition: box-shadow 0.3s ease-in-out;
			box-shadow: 0 0px 15px rgba(0,0,0,0.3);
		}
		&:after {
			box-shadow: 0 5px 15px rgba(0,0,0,0.3);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		&:hover::after {
			opacity: 1;
		}
	}
	.row {
		margin-top: 80px;
	}
	h2 {
		color: #fff;
		padding: 20px 0px 10px 0;
		width: 18%;
		margin: 0 auto;
	}
	h3 {
		width: 100%;
		color: #011627;
		font-size: 20px;
		padding: 0 20px;
	}
	img {
		background-color: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
	}
	a {
		width: 100%;
		position: absolute;
		text-align: center;
		font-size: 20px;
		padding: 10px 5px;
		bottom: 15px;
		right: 0px;
		color: #FDFFFC;
		background-color: rgba(0, 0, 0, 0.2);
		&:hover {
			text-decoration: none;
		}
	}
}

//LOGIN AND SIGNUP PAGES
#form-devise {
	padding: 80px 0;
	background-color: #FDFFFC;
	.panel {
		box-shadow: 0 0 30px #d1d1d1;
		.panel-heading {
			text-align: center;
			background-color: #fff;
			border-bottom: none;
		}
	}

	.panel-footer {
		background-color: #fff;
	}

	.form-control {
		border: 1px solid #d1d1d1;
		border-radius: 0;
		outline: none;
		padding: 0.7em;
		height: 40px;
		&:focus {
			border: solid 1px #76C4F9;
			box-shadow: 0 0 3px #76C4F9;
		}
	}
}

//TUTORIAL INDEX
#tutorial-index {
	padding: 40px 0;
	.well {
		border: none;
		background-color: #FDFFFC;
		box-shadow: 0 0px 3px rgba(0,0,0,0.15);
		transition: box-shadow 0.3s ease-in-out;
		a {
			color: #011627;
			&:hover {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
		img {
			margin-top: 20px;
		}
		&:hover {
			box-shadow: 0 0px 15px rgba(0,0,0,0.3);
		}
		&:after {
			box-shadow: 0 5px 15px rgba(0,0,0,0.3);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		&:hover::after {
			opacity: 1;
		}
	}
}

//LESSON INDEX
#lessons-index {
	.lessons-index-hero {
		padding: 50px 0;
		background: #011627;
		h1 {
			color: #FDFFFC;
			margin-right: 30px;
		}
		p {
			margin-top: 30px;
			color: #FDFFFC;
			font-size: 20px;
			margin-right: 10px;
		}
		.fa {
			color: #F71735;
			margin-left: 10px;
		}
	}
	.row {
		padding: 50px 0;
	}
	.col-md-4 {
		padding-bottom: 50px;
	}
	.panel {
		padding: 0;
		margin: 0;
		border: none;
		box-shadow: 0 0px 3px rgba(0,0,0,0.15);
		transition: box-shadow 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
		&:hover {
			box-shadow: 0 0px 15px rgba(0,0,0,0.3);
			transform: scale(1.01, 1.01)
		}
		&:after {
			box-shadow: 0 5px 15px rgba(0,0,0,0.3);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		&:hover::after {
			opacity: 1;
		}
	}
	.panel-footer {
		background-color: #FDFFFC;
		border: none;
		position: relative;
		.fa-like {
			color: #F71735;
			position: absolute;
			bottom: 15px;
			left: 15px;
		}
		.fa-comment {
			color: #F71735;
			position: absolute;
			bottom: 15px;
			right: 15px;
		}
		.like-number {
			position: absolute;
			bottom: 10px;
			left: 40px;
		}
		.comment-number {
			position: absolute;
			bottom: 10px;
			right: 40px;
		}
	}
	.panel-heading {
		padding: 0;
		position: relative;
		border: none;
		.play {
			color: #FF9F1C;
			position: absolute;
			bottom: 20px;
			left: 15px;
		}
		a {
			padding: 15px;
			margin: 0;
			width: 100%;
			background-color: rgba(0,0,0,.3);
			color: #FDFFFC;
			position: absolute;
			z-index: 1000;
			bottom: 15px;
			&:hover {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
}

//LESSON SHOW
#lesson-show {
	padding-bottom: 40px;
	h1 {
		padding: 0;
		margin: 0;
	}
	h4 {
		color: #b6b6b6;
		margin-right: 10px;
	}
	.fa {
		color: #F71735;
		padding-top: 10px;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	.user {
		color: #011627;
		padding-top: 10px;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	.like-number {
		font-family: BYekan, sans-serif;
		font-size: 40px;
		padding-bottom: 10px;
	}
	.title {
		padding-top: 15px;
		.to-tutorial {
			color: #011627;
			&:hover {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
	.panel {
		border: none;
	}
	.panel-body {
		margin: 20px 0;
		background: #f2f2f4;
		box-shadow: 0 0 1px #E6E8E6;
		border-radius: 0;
		border: none;
		padding: 30px 60px;
		color: #3C3C3C;
		p {
			font-size: 15px;
			line-height: 32px;
		}
	}
	.panel-heading {
		background-color: #000;
		border: none;
		border-radius: 0;
		color: #FDFFFC;
		.well {
			color: #333;
			border-radius: 0;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			border: none;
		}
	}
	.panel-footer {
		background-color: #fff;
		border: none;
		
		.form-control {
			direction: ltr;
			height: 100px;
			&:focus {
				border: solid 1px #D18317;
				box-shadow: 0 0 3px #D18317;
			}
		}
		a {
			color: #664D62;
			&:hover {
				text-decoration: none;
				color: darken(#664D62, 10%);
			}
		}
	}
	.col-md-2 {
		padding-right: 0;
	}
	.panel-list {
		margin-top: 20px;
		.panel-heading {
			background-color: #64B9FA;
			color: #FDFFFC;
		}
		.panel-body {
			margin: 0;
			border-top: none;
			padding: 5px 0;
			transition: background-color 0.2s ease-in-out;
			&:hover {
				transition: background-color 0.2s ease-in-out;
				background-color: #f2f2f2;
			}
			.new-title {
				font-size: 12px;
				padding: 5px;
				margin: 0;
			}
			a {
				color: #333;
				text-align: right;
				padding-right: 15px;
				&:hover {
					text-decoration: none;
				}
				&:focus {
					text-decoration: none;
				}
			}
		}
	}
	
}

//ABOUT US
#about-us {
	padding-bottom: 40px;
	background-color: #f2f2f4;
	.hero {
		background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), image-url('about-us-hero.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 100px 0;
	}
	.about-content {
		padding: 40px 30px;
		
	}
	h1 {
		color: #FDFFFC;
	}
	p {
		color: #525353;
		line-height: 40px;
	}
}

#contact-us {
	padding: 100px 0;
	h4 {
		margin: 0;
		line-height: 30px;
	}
	.text-area {
		height: 150px;
	}
	.form-control {
		border-radius: 0;
	}
	.socials {
		margin-top: 30px;
		.fa {
			color: #011627;
		}
		img {
			filter: grayscale(100%);
		}
	}
}

//SUBJECTS
#subjects {
	padding: 20px 0px 100px 0;
	background-color: #f5f5f5;
	p {
		line-height: 28px;
	}
	.title {
		padding: 20px 0;
		border-bottom: 1px solid #011424;
	}
	.tablink {
		background-color: #F1F2F2;
		color: #A2AAB0;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		font-size: 17px;
		width: 16%;
		transition: all 0.3s;
	}

	.tablink:hover {
		color: #010A12;
		transition: all 0.3s;
	}

	/* Style the tab content */
	.tabcontent {
		color: #011627;
		display: none;
		padding: 80px;
		text-align: center;
	}

	@-webkit-keyframes fadeEffect {
		from {opacity: 0.6;}
		to {opacity: 1;}
	}

	@keyframes fadeEffect {
		from {opacity: 0.6;}
		to {opacity: 1;}
	}

	#javascript {background-color: #F1F2F2;}
	#html {background-color: #F1F2F2;}
	#swift {background-color: #F1F2F2;}
	#ios {background-color: #F1F2F2;}
	#ruby-on-rails {background-color: #F1F2F2;}

}

//EXPPLORE
#explore {
	padding: 100px 0;
	.col-md-2 {
		padding-top: 20px;
	}
	.col-md-8 {
		.col-md-10 {
			padding-right: 30px;
			margin-top: 15px;
		}
	}
	p {
		font-size: 16px;
	}
	.fa {
		position: absolute;
		right: 200px;
		top: 18px;
	}
	a {
		position: relative;
		color: #011424;
		&:hover {
			text-decoration: none;
			opacity: 0.7;
		}
		&:focus {
			text-decoration: none;
		}
	}
}

#questions {
	background-color: #f5f5f5;
	padding: 20px 0 80px 0;
	h2 {
		padding-bottom: 20px;
	}
	button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
		box-shadow: 0, 0, 10px, rgaba(0, 0, 0, .3s);
}

	button.accordion.active, button.accordion:hover {
		background-color: #ddd;
	}

	button.accordion:after {
		content: '\002B';
		color: #777;
		font-weight: bold;
		float: right;
		margin-left: 5px;
	}

	button.accordion.active:after {
		content: "\2212";
	}

	div.custom-panel {
		p {
			padding: 12px 0;
			line-height: 30px;
		}
		padding: 0 18px;
		background-color: #FDFFFC;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		border-bottom: solid 1px #fff;
	}
	.col-md-5 {
		padding-top: 30px;
		margin-top: 50px;
		padding-right: 30px;
	}
	.mySlides {
		display: none;
		img {
			width: 100%;
		}
	}
	.slideshow-container {
		max-width: 1000px;
		margin: auto;
	}
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 3.0s;
		animation-name: fade;
		animation-duration: 3.0s;
	}

	@-webkit-keyframes fade {
		from {opacity: .1} 
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}
}

//FOOTER
footer {
	position: absolute;
	padding: 30px 0 40px 0;
	background-color: #434343;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0;
	color: #cecece;
	.footer-brand {
		font-size: 28px !important;
		padding-right: 8px;
	}
	.title {
		padding-bottom: 6px;
		width: 100%;
		font-size: 14px !important;
		border-bottom: dotted 1px #cecece;
	}
	.inspect {
		text-align: center;
		border-right: solid 1px #6b6b6b;
	}
	.inspect:last-of-type {
		border-right: none;
	}
	.btn {
		font-size: 12px;
	}
	img {
		transition: 0.3;
		filter: grayscale(80%);
		&:hover {
			transition: 0.3s;
			filter: grayscale(100%);
		}
	}
	.first {
		padding-bottom: 20px;
		p {
			font-size: 12px;
		}
	}
	a {
		color: #cecece;
		transition: color 0.3s;
		font-size: 12px;
		&:hover {
			transition: color 0.3s;
			color: #fff;
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	.fa {
		color: #cecece;
		width: 30px;
		height: 30px;
		transition: color 0.3s;
		&:hover {
			transition: color 0.3s;
			color: #fff;
		}
	}
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
	body {
		padding-bottom: 500px;
	}
	.panel-list {
		display: none;
	}
	.tabcontent {
		text-align: center;
	}
	#explore {
		.fa {
			display: none;
		}
	}
	.jumbotron {
		.mac, .iphone {
			display: none;
		}
	}
	#tools {
		img {
			width: 100px;
			height: 100px;
		}
	}
	footer img.logo-img {
		display: none;
	}
}

/* ------------------------------------- */

@media only screen and (max-width:992px) {
	body {
		padding-bottom: 500px;
	}
	.navbar {
		font-size: 14px;
	}
	.navbar-header {
		img {
			margin-top: 8px;
			padding-right: 10px;
		}
		font-size: 30px;
	}
	.panel-list {
		display: none;
	}
	.jumbotron {
		.mac, .iphone {
			display: none;
		}
	}
	#tools {
		img {
			width: 100px;
			height: 100px;
		}
	}
	
	#subjects {
		p {
			font-size: 12px;
		}
		.tablink {
			font-size: 12px;
		}
	}
	
	#questions {
		.mySlides {
			img {
				display: none;
			}
		}
	}
	
	footer {
		.inspect {
			border-right: none;
		}
	}
	footer img.logo-img {
		display: none;
	}
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen  and (min-device-width: 375px)  and (max-device-width: 667px)  and (-webkit-min-device-pixel-ratio: 2) { 
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media only screen  and (min-device-width: 375px)  and (max-device-width: 667px)  and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media only screen  and (min-device-width: 375px)  and (max-device-width: 667px)  and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen  and (min-device-width: 414px)  and (max-device-width: 736px)  and (-webkit-min-device-pixel-ratio: 3) { 
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media only screen  and (min-device-width: 414px)  and (max-device-width: 736px)  and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) { 
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media only screen  and (min-device-width: 414px)  and (max-device-width: 736px)  and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen  and (device-width: 320px)  and (device-height: 640px)  and (-webkit-device-pixel-ratio: 2) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@med(min-device-width: 800px) and (max-device-width: 1280px) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) { 
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) { 
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Portrait */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* Landscape */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape) {
		body {
			padding-bottom: 500px;
		}
		.panel-list {
			display: none;
		}
		.tabcontent {
			text-align: center;
		}
		#explore {
			.fa {
				display: none;
			}
		}
		.jumbotron {
			.mac, .iphone {
				display: none;
			}
		}
		#tools {
			img {
				width: 100px;
				height: 100px;
			}
		}
		footer img.logo-img {
			display: none;
		}
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
		
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}





