/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require commontator/application
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "gritter";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto');

//GLOBALS
* {
	box-sizing: border-box;	
}

@font-face {
	font-family: BYekan;
	src: asset-url("BYekan.ttf");
}

@font-face {
	font-family: 'Yekan';
	src: asset-url('Yekan.eot?-wwn5ej');
	src: asset-url('Yekan.eot?#iefix-wwn5ej') format('embedded-opentype'),
	asset-url('fonts/Yekan.woff?-wwn5ej') format('woff'),
	asset-url('Yekan.ttf?-wwn5ej') format('truetype'),
	asset-url('Yekan.svg?-wwn5ej#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

//@font-face {
//	font-family: 'IranSans';
//	src: asset-url('iranian-sans.eot?-wwn5ej');
//	src: asset-url('iranian-sans.eot?#iefix-wwn5ej') format('embedded-opentype'),
//	asset-url('fonts/iranian-sans.woff?-wwn5ej') format('woff'),
//	asset-url('iranian-sans.ttf?-wwn5ej') format('truetype'),
//	asset-url('iranian-sans.svg?-wwn5ej#icomoon') format('svg');
//	font-weight: normal;
//	font-style: normal;
//}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: asset-url('eot/IRANSansWeb_Bold.eot');
	src: asset-url('eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 asset-url('woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 asset-url('woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 asset-url('ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: asset-url('eot/IRANSansWeb_Medium.eot');
	src: asset-url('eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 asset-url('woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 asset-url('woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 asset-url('ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: asset-url('eot/IRANSansWeb_Light.eot');
	src: asset-url('eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 asset-url('woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 asset-url('woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 asset-url('ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: asset-url('eot/IRANSansWeb_UltraLight.eot');
	src: asset-url('eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 asset-url('woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 asset-url('woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 asset-url('ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: asset-url('eot/IRANSansWeb.eot');
	src: asset-url('eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 asset-url('woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 asset-url('woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 asset-url('ttf/IRANSansWeb.ttf') format('truetype');
}


html {
	height: 100%;
	box-sizing: border-box;
}

body {
	padding: 0px !important;
//	position: relative;
	font-family: IRANSans, 'Roboto';
	min-height: 100%;
	margin: 0;
}

h1, h2, h3, h4, h5, p {
	font-family: IRANSans, 'Roboto' !important;
}

p {
	font-size: 16px;
}

form#new_user.new_user {
	input {
		padding: 23px 10px;
		font-size: 16px;
	}
}

form#edit_user.edit_user {
	input {
		padding: 23px 10px;
		font-size: 16px;
	}
}

.btn {
	border-radius: 3px;
}

button.btn-block.btn-success {
	background-color: #0cb863;
	border-color: #0cb863;
	padding: 15px 0;
	&:hover {
		background-color: #128b4b;
		border-color: #128b4b;
	}
}

#error_explanation {
	background-color: #E8911A;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	h2 {
		font-size: 20px;
		margin: 0;
		padding: 5px 0;
	}
	p {
		margin: 0;
	}
}

.tooltip {
	font-family: BYekan, sans-serif;
	text-align: right;
}

.alert {
	margin: 0;
	border: none;
	border-radius: 0;	
	//box-shadow: 0px 5px #338D95;
	text-align: center;
}

.alert-info {
	background-color: #5191f5;
	color: #fff;
}

.alert-warning {
	background-color: #e87378;
	color: #fff;
	//azimuthbox-shadow: 0 5px #8E834D;
}

.highlight {
	pre {
		direction: ltr;
	}
	span {
		font-size: 15px;
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;	
	}
}

pre {
	border: 1px solid #ededed;
	border-radius: 1px;
	padding: 15px 10px;
}

.err {
	border: none;
}

code {
	color: #7e8288;
	direction: ltr !important;
	background-color: #f5f5f5;
}

input[type="text"] {
	padding: 10px 0px;
}

blockquote {
	border-left: none;
	border-right: 5px solid #fa7a64;
}

.page-header {
	//border-bottom: 4px solid #8B3298;
}

//LOCALS

//NAVBAR
.navbar-nav > li > .dropdown-menu {
	background-color: #f8f8f8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0;
  border-radius: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
		background-color: #f8f8f8;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	padding: 0;
}

.navbar-default .navbar-nav > li > a {
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	font-size: 15px;
	&:hover {
		background-color: rgba(0, 0, 0, 0.15);
	}
}

//HOME PAGE 
.jumbotron {
	//position: relative;
//	z-index: 1001;
	padding: 120px 0 100px 0;
	margin-bottom: 0;
	//background: #56CCF2;  /* fallback for old browsers */
//	background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
//	background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), image-url('hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	position: relative;
	//background-color: #464BB0;
	.col-hero-icons {
		margin-top: 70px;
	}
	.fa {
		margin-top: 80px;
	}
	img.design {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		position: absolute;
		z-index: 100;
	}
	span {
		font-size: 50px;
		font-weight: bold;
		line-height: 100px;
		color: #fff;
	}
	h1 {
		font-size: 40px;
		color: #eaeaea;
	}
	h4 {
		padding: 20px 0;
	}
	h2 {
		font-size: 23px;
		color: #eaeaea;
	}
	p.first {
		color: #f1f1f1;
		margin-top: 0;
		font-size: 12px;
	}
	p {
		color: #f7faff;
		margin-top: 60px;
		text-align: center;
		font-size: 17px;
		line-height: 30px;
	}
	a {
			color: #ececec;
			font-size: 18px;
			background-color: #004069;;
			border: 1px solid #f0f0f0;
			margin-top: 40px;
			padding: 14px 30px;
			border-radius: 5px;
			transition: all 0.3s;
			&:hover {
				color: #004069;
				transition: all 0.3s;
				background-color: #f0f0f0;
				border-color: #f0f0f0;
			}
			&:focus {
				background-color: darken(#fff, 10%);
				border-color:  darken(#fff, 10%);
				color: #64B9FA;
			}
			&:active {
				background-color: darken(#fff, 10%);
				border-color:  darken(#fff, 10%);
				color: #64B9FA;
			}
		}
	.navbar-btn {
		margin-top: 30px;
		padding: 12px 20px;
		font-size: 18px;
		//background-color: #F71735;
	}
	.iphone {
		position: absolute;
		left: 250px;
		top: -40px;
		width: 254px;
		height: 435px;
		z-index: 1001;
	}
	.mac {
		position: absolute;
		left: -50px;
		top: 30px;
		width: 600px;
		//transform: scale(1.2, 1.2);
		z-index: 1000;
	}
}

.hero-socials {
	background-image: linear-gradient(rgba(76, 103, 119, 0.3), rgba(76, 103, 119, 0.3)), image-url('money.jpg');
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	background-attachment: fixed;
	background-color: #363A89;
	padding: 120px 0;
	color: #fff;
	h2 {
		line-height: 40px;
	}
	a {
		color: #ececec;
		font-size: 18px;
		background-color: transparent;;
		border: 1px solid #f0f0f0;
		margin-top: 40px;
		padding: 14px 30px;
		border-radius: 5px;
		transition: all 0.3s;
		&:hover {
			color: #004069;
			transition: all 0.3s;
			background-color: #f0f0f0;
			border-color: #f0f0f0;
		}
		&:focus {
			background-color: darken(#fff, 10%);
			border-color:  darken(#fff, 10%);
			color: #64B9FA;
		}
		&:active {
			background-color: darken(#fff, 10%);
			border-color:  darken(#fff, 10%);
			color: #64B9FA;
		}
	}
}

//TOOLS
#tools {
	padding: 50px 0 80px 0;
	background-color: #fff;
	h2 {
		color: #5b5b5b;
		margin-top: 10px;
	}
	p {
		line-height: 30px;
		padding: 0px 50px;
		color: #8e8e93;
		margin-top: 20px;
	}
	.row-pics {
		padding-top: 40px;
	}
}

//FIRST
#first {
	padding: 70px 0;
	background-color: #fff;
	border-bottom: solid 1px #f1f1f1;
	position: relative;
	z-index: 1000;
	h2 {
		color: #5b5b5b;
		margin: 0;
	}
	.row {
		margin-top: 80px;
		.fa {
			color: #fff;
		}
	}
	h4 {
		margin-top: 20px;
		color: #5b5b5b;
	}
	p {
		color: #8e8e93;
		margin-top: 20px;
		line-height: 30px;
	}
}

#about {
	padding: 80px 0;
	background-color: #fff;
	color: #FDFFFC;
	h2 {
		color: #333;
	}
	a {
		color: #3D9FE2;
		transition: color 0.3s;
		&:hover {
			color: #76C4F9;
			transition: color 0.3s;
		}
	}
	p {
		color: #a6a6a6;
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 30px;
	}
	.more {
		padding: 15px 22px;
		color: #fff;
		background-color: #64B9FA;
		border: 1px solid #64B9FA;
		margin-top: 30px;
		text-decoration: none;
		border-radius: 5px;
		transition: background-color 0.3s;
		&:hover {
			transition: color 0.3s;
			text-decoration: none;
			background-color: #15377E;
			border-color: #15377E;
			color: #fff;
		}
	}
}

#last-lessons {
	padding: 0px 0 200px 0;
	background-color: #fff;
	.col-last {
		margin: 0;
	}
	.row > .col-md-3 > .well {
    padding: 40px 0;
		margin-bottom: 50px;
		background-color: #fff;
		border: none;
		border-radius: 0;
		box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
		border-top: 5px solid #1a5cb7;
		transition: transform 0.3s;
		&:hover {
			transition: transform 0.3s;
			transform: scale(1.05, 1.05);
		}
		&:after {
			box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
		}
		p {
			padding: 20px;
			margin: 0;
			background-color: #fff;
		}
		span {
			text-align: right;
			color: #767676;
		}
		.fa-play, .fa-file-text {
			text-align: left;
			color: #919aa5;
			padding: 5px 25px;
			border: 1px solid;
			border-radius: 20px;
			margin-bottom: 15px;
		}
		.fa-comment {
			text-align: right;
			color: #919aa5;
			padding: 0 20px;
		}
		div.show-video {
			padding-top: 20px;
		}
		.content {
			background-color: #fcfcfc;
		}
	}
	
	.row.row-lesson {
		//padding: 40px 0;
	}
	.row {
		margin-top: 80px;
	}
	h2 {
		color: #333;
		margin: 0;
	}
	h3 {
		width: 100%;
		color: #011627;
		font-size: 20px;
		padding: 0 20px;
	}
	img {
		transition: opacity 0.3s;
		//border-bottom: 3px solid #c8c8c8;
		&:hover {
			transition: opacity 0.3s;
			opacity: 1;
		}
	}
}

//LOGIN AND SIGNUP PAGES
#form-devise-signin {
	min-height: 100%;
	padding: 80px 0 220px 0;
}
#form-devise-signup {
	min-height: 100%;
	padding: 80px 0 135px 0;
}
#form-devise-password {
	min-height: 100%;
	padding: 80px 0 340px 0;
}
#form-devise-confirmation {
	min-height: 100%;
	padding: 80px 0 340px 0;
}
.devise-form {
	background: #fff;  /* fallback for old browsers */
	//background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
//background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera */
	.panel {
		//box-shadow: 0 0 30px #d1d1d1;
		border: none;
		border-radius: 0;
		box-shadow: none;
		.panel-heading {
			text-align: center;
			background-color: #fff;
			border-bottom: none;
		}
	}
	img {
		margin-bottom: 20px;
	}

	.panel-footer {
		background-color: #fff;
	}
	.panel-body {
		padding: 20px 40px;
	}
	.form-control {
		border: 1px solid #d1d1d1;
		border-radius: 3px;
		outline: none;
		padding: 0.9em;
		height: 40px;
		&:focus {
			border: solid 1px #76C4F9;
			box-shadow: 0 0 3px #76C4F9;
		}
	}
}

//TUTORIAL INDEX
#tutorial-index {
	padding: 40px 0 300px 0;
	background-color: #f2f2f7;
	.well {
		border-top: solid 5px #1D5DB8;
		border-radius: 5px;
		background-color: #fff;
		box-shadow: 0 0px 3px rgba(0,0,0,0.15);
		transition: box-shadow 0.3s ease-in-out;
		padding: 50px;
		a {
			color: #011627;
			&:hover {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
		img {
			margin: 0 auto;
			border-bottom: 1px solid #eaeaea;
			padding-bottom: 30px;
		}
		&:hover {
			box-shadow: 0 0px 15px rgba(0,0,0,0.3);
		}
		&:after {
			box-shadow: 0 5px 15px rgba(0,0,0,0.3);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		&:hover::after {
			opacity: 1;
		}
		
		.lesson-count {
			background-color: rgb;
			padding: 10px 0;
			span {
				color: #bebdbd;
			}
		}
	}
}

//LESSON INDEX
#lessons-index {
	padding-bottom: 100px;
	.lessons-index-hero {
		padding: 100px 0;
		background-color: #f3f2f3;
		img {
			border: none;
		}
		h1 {
			color: #2F302F;
			margin-right: 30px;
		}
		p {
			margin-top: 30px;
			color: #FDFFFC;
			font-size: 20px;
			margin-right: 10px;
		}
		.fa {
			color: #F71735;
			margin-left: 10px;
		}
	}
	.row {
		padding: 50px 0;
	}
	.col-md-4 {
		padding-bottom: 50px;
	}
	.panel {
		padding: 0;
		margin: 0;
		border: none;
		border-radius: 0;
		background-color: #fff;
		box-shadow: 0 2px 3px rgba(0,0,0,0.8);
		transition: box-shadow 0.3s;
		
		&:hover {
			box-shadow: 0 2px 3px rgba(0,0,0,0.3);
		}
		&:after {
			box-shadow: 0 5px 15px rgba(0,0,0,0.3);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		&:hover::after {
			opacity: 1;
		}
	}
	.panel-footer {
		padding: 25px 0;
		background-color: #dddddd;
		border: none;
		position: relative;
		.fa-like {
			color: #5f1d5a;
			position: absolute;
			bottom: 15px;
			left: 50px;
		}
		.fa-comment {
			color: #995211;
			position: absolute;
			bottom: 15px;
			right: 15px;
		}
		.like-number {
			position: absolute;
			bottom: 10px;
			left: 15px;
		}
		.comment-number {
			position: absolute;
			bottom: 10px;
			right: 40px;
		}
	}
	.panel-heading {
		padding: 0;
		position: relative;
		border: none;
		.play {
			color: #FF9F1C;
			position: absolute;
			bottom: 20px;
			left: 15px;
		}
	}
	.panel-body {
		a {
			padding: 15px;
			margin: 0;
			width: 100%;
			color: #333;
			z-index: 1000;
			cursor: pointer;
			&:hover {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
		h3 {
			font-size: 20px;
			line-height: 30px;
		}
		p {
			font-size: 16px;
			line-height: 28px;
		}
	}
}

//LESSON SHOW
#lesson-show {
	padding-bottom: 200px;
	h1 {
		padding: 0;
		margin: 0;
	}
	h4 {
		color: #b6b6b6;
		margin-right: 10px;
	}
	.fa {
		color: #F71735;
		padding-top: 10px;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	.user {
		color: #011627;
		padding-top: 10px;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	.like-number {
		font-family: BYekan, sans-serif;
		font-size: 40px;
		padding-bottom: 10px;
	}
	.title {
		padding-top: 15px;
		.to-tutorial {
			color: #011627;
			&:hover {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
	.panel {
		border: none;
	}
	.panel-body {
		margin: 20px 0;
		//background-color: #fefefe;
		//box-shadow: 0 0 1px #E6E8E6;
		border-radius: 0;
		border: none;
		padding: 30px 60px;
		color: #3C3C3C;
		p {
			font-size: 14px;
			line-height: 40px;
		}
	}
	.panel-heading {
		background-color: #000;
		border: none;
		border-radius: 0;
		color: #FDFFFC;
		padding: 0;
		border-bottom: 1px solid #e6e6e6;
		border-top: none;
		position: relative;
		.well {
			color: #333;
			border-radius: 0;
			border: none;
			position: relative;
			z-index: 1000;
		}
		h1 {
			position: absolute;
			width: 100%;
			bottom: 0;
			z-index: 1000;
			margin: 0 auto;
			font-size: 50px;
			padding: 120px 0;
			background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
		}
		img {
			// width: 2000px;
			// height: 300px;
		}
	}
	.panel-footer {
		background-color: #fff;
		border: none;
		
		.form-control {
			direction: ltr;
			height: 100px;
			&:focus {
				border: solid 1px #D18317;
				box-shadow: 0 0 3px #D18317;
			}
		}
		a {
			color: #664D62;
			&:hover {
				text-decoration: none;
				color: darken(#664D62, 10%);
			}
		}
	}
	.col-md-2 {
		padding: 0;
	}
	.panel-list {
		margin-top: 20px;
		.panel-heading {
			background-color: #64B9FA;
			color: #FDFFFC;
			padding: 20px 8px;
		}
		.list-lesson-body {
			//background-color: #cce9ff;
		}
		.thumbnail {
			padding: 0;
			margin: 0;
			border: none;
		}
		.panel-body {
			margin: 0;
			border-top: none;
			padding: 0px 0;
			transition: background-color 0.2s ease-in-out;
			&:hover {
				transition: background-color 0.2s ease-in-out;
				background-color: #9ad3fe;
				a {
					color: #777878;
				}
			}
			.new-title {
				color: #424242;
				font-size: 14px;
				padding: 5px;
				margin: 0;
			}
			p {
				padding: 10px;
				line-height: 20px;
			}
			a {
				color: #777878;
				text-align: right;
				box-sizing: border-box;
				&:hover {
					text-decoration: none;
				}
				&:focus {
					text-decoration: none;
				}
			}
		}
	}
	
}

//ABOUT US
#about-us {
	padding-bottom: 40px;
	background-color: #f2f2f4;
	.hero {
		background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), image-url('about-us-hero.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 100px 0;
	}
	.about-content {
		padding: 40px 30px;
		
	}
	h1 {
		color: #FDFFFC;
	}
	p {
		color: #525353;
		line-height: 40px;
	}
}

#contact-us {
	padding: 100px 0;
	h4 {
		margin: 0;
		line-height: 30px;
	}
	.text-area {
		height: 150px;
	}
	.form-control {
		border-radius: 0;
	}
	.socials {
		margin-top: 30px;
		.fa {
			color: #011627;
		}
		img {
			filter: grayscale(100%);
		}
	}
}

//SUBJECTS
#subjects {
	padding: 20px 0px 100px 0;
	background-color: #E3E4FF;
	p {
		line-height: 28px;
		color: rgb(84, 90, 210);
	}
	.title {
		padding: 20px 0;
		color: #2b31ad;
	}
	.tablink {
		background-color: #E3E4FF;
		color: #2b31ad;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		font-size: 17px;
		width: 16%;
		transition: all 0.3s;
	}

	.tablink:hover {
		color: #464BB0;
		transition: all 0.3s;
	}

	/* Style the tab content */
	.tabcontent {
		color: #fff;
		display: none;
		padding: 80px;
		text-align: center;
	}

	@-webkit-keyframes fadeEffect {
		from {opacity: 0.6;}
		to {opacity: 1;}
	}

	@keyframes fadeEffect {
		from {opacity: 0.6;}
		to {opacity: 1;}
	}

	#javascript {background-color: #E3E4FF;}
	#html {background-color: #E3E4FF;}
	#swift {background-color: #E3E4FF;}
	#ios {background-color: #E3E4FF;}
	#ruby-on-rails {background-color: #E3E4FF;}

}

//EXPLORE
.fa.fa-ruby {
	background: #56CCF2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #103049, #59D5FE);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #103049, #59D5FE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: 1000;
}

.fa.fa-start {
	color: #f2f2f7;
	z-index: 1000;
}

#explore {
	padding: 50px 0;
	background-color: #fff;
	border-bottom: 1px solid #f1f1f1;
	.col-md-2 {
		padding-top: 20px;
	}
	.col-md-8 {
		.col-md-10 {
			padding-right: 30px;
			margin-top: 15px;
		}
	}
	.fa {
		color: #fff;
	}
	h2 {
		color: #5b5b5b;
		margin-top: 10px;
	}
	h3 {
		color: #8e8e93;
		font-size: 20px;
	}
	p {
		line-height: 30px;
		padding: 0px 50px;
		color: #8e8e93;
		margin-top: 30px;
	}
	.row {
		margin-top: 80px;
	}
	a {
		color: #2b31ad;
		font-family: 'Roboto Condensed', sans-serif;
		&:hover {
			text-decoration: none;
			opacity: 0.7;
		}
		&:focus {
			text-decoration: none;
		}
	}
}

#questions {
	background-color: #fff;
	border-bottom: 1px solid #f1f1f1;
	padding: 20px 0 80px 0;
	h2 {
		color: #5b5b5b;
		padding-bottom: 20px;
	}
	button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
		box-shadow: 0, 0, 10px, rgaba(0, 0, 0, .3s);
}

	button.accordion.active, button.accordion:hover {
		background-color: #ddd;
	}

	button.accordion:after {
		content: '\002B';
		color: #777;
		font-weight: bold;
		float: right;
		margin-left: 5px;
	}

	button.accordion.active:after {
		content: "\2212";
	}

	div.custom-panel {
		p {
			padding: 12px 0;
			line-height: 30px;
		}
		padding: 0 18px;
		background-color: #FDFFFC;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		border-bottom: solid 1px #fff;
	}
	.col-md-5 {
		padding-top: 30px;
		margin-top: 50px;
		padding-right: 30px;
	}
	.mySlides {
		display: none;
		img {
			width: 100%;
		}
	}
	.slideshow-container {
		max-width: 1000px;
		margin: auto;
	}
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 3.0s;
		animation-name: fade;
		animation-duration: 3.0s;
	}

	@-webkit-keyframes fade {
		from {opacity: .1} 
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}
}

//FOOTER
footer {
	//position: absolute;
	padding: 50px 0 60px 0;
	background-color: #2E3234;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0;
	color: #cecece;
	.footer-brand {
		font-size: 28px !important;
		padding-right: 8px;
	}
	.title {
		padding-bottom: 6px;
		width: 100%;
		font-size: 15px !important;
		color: #fff;
		//border-bottom: dotted 1px #cecece;
	}
	.inspect {
		text-align: center;
		border-right: solid 1px #6b6b6b;
	}
	.inspect:last-of-type {
		border-right: none;
	}
	.btn {
		font-size: 12px;
	}
	img {
		transition: 0.3;
		filter: grayscale(80%);
		&:hover {
			transition: 0.3s;
			filter: grayscale(100%);
		}
	}
	.first {
		padding-bottom: 20px;
		p {
			font-size: 12px;
		}
	}
	a {
		color: #cecece;
		transition: color 0.3s;
		font-size: 12px;
		&:hover {
			transition: color 0.3s;
			color: #fff;
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	.fa {
		color: #cecece;
		width: 30px;
		height: 30px;
		transition: color 0.3s;
		&:hover {
			transition: color 0.3s;
			color: #fff;
		}
	}
}

/* MEDIA QUERIES */


@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	div.welcome-signup .well {
		display: none;
	}
	#particles-js {
		h1 {
			top: 5%;
		}
		
		p {
			top: 7%;
		}
	}
	.jumbotron {
		padding-top: 60px;
		padding-bottom: 40px;
		img {
			//display: none;
		}
		h1 {
			text-align: center;
			font-size: 25px;
		}
		h2 {
			text-align: center;
			font-size: 18px;
			margin-bottom: 20px;
		}
		a {
		}
		h1 > span {
			font-size: 70px;
			text-align: center;
		}
	}
	.jumbotron h1 > span {
		font-size: 28px;
	}
	div.hero-socials {
		//display: none;
	}
	li.blog-navbar > a {
		//display: none;
	}
	.navbar-header img {
		margin-right: 20px;
	}
	
	.navbar-default .navbar-nav > li > a {
		border: none;;
	}
	
	.navbar-header > .navbar-brand {
		padding-top: 20px;
		padding-right: 10px;
		margin-bottom: 20px;
		transition: color 0.3s;
		&:hover {
			transition: color 0.3s;
			color: #3d3d3d;
		}
	}
	
	#lessons-index {
		img.img-responsive {
			//display: none;
		}
		.row {
			margin-top: 40px;
		}
		div.panel-body {
			display: none;
		}
		div.panel-footer {
			display: none;
		}
		h3 {
			font-size: 20px;
		}
	}
	#questions {
		div.mySlides.fade img {
			display: none;
		}
	}
	#last-lessons {
		padding-bottom: 200px;
		.fa {
			display: none;
		}
		.col-xs-4, .col-sm-4 {
			margin-top: 100px;
		}
		.well {
			padding-bottom: 10px;
		}
		span {
			display: none;
		}
	}
	#tutorial-index {
		img {
			vertical-align: middle;
			width: 80px;
			height: 80px;
		}
		h2 {
			font-size: 20px;
		}
		p {
			font-size: 14px;
		}
	}
	#tools {
		img {
			width: 100px;
			height: 100px;
		}
	}
	#lesson-show {
		padding-bottom: 200px;
		h1 {
			font-size: 25px;
		}
		.panel-body {
			margin: 20px 0;
			border-radius: 0;
			padding: 10px 20px;
			p {
				font-size: 14px;
				line-height: 40px;
			}
		}
		.panel-heading {
			h1 {
				font-size: 25px;
			}
		}
	}
	#course-show .panel .panel-body {
		padding: 0 20px 40px 20px;
	}
	.navbar {
		img {
			display: none;
		}
		
		.navbar-left {
			li {
				//margin-top: 30px;
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#subjects {
		display: none;
	}
	#lesson-show {
		.panel-heading {
			h1 {
				padding: 40px 0;
			}
		}
	}
	.navbar {
		
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

///////////////////////////////////////////////

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #185ab6;
  background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.1)), image-url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
	
	h1 {
		font-size: 40px;
		position: absolute;
		top: 35%;
		right: 10%;
		color: #fff;
		text-shadow: 0 3px rgba(0, 0, 0, 0.2);
	}
	
	p {
		font-size: 25px;
		position: absolute;
		top: 45%;
		right: 10%;
		color: #f2f2f2;
		text-shadow: 0 2px rgba(0, 0, 0, 0.2);
	}
}

div.welcome-signup {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 30%;
	.well {	
		background-color: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		border: none;
		width: 100%;
		height: 100%;
		padding: 35px 25px;
		.btn {
			background-color: rgba(25, 82, 142, 1);
			border-color: rgba(25, 82, 142, 0.8);
			border-radius: 5px;
			font-size: 18px;
			&:hover {
				background-color: darken(rgba(25, 82, 142, 1), 5%);
			}
		}
		span {
			padding: 10px 0;
			color: #fff;
		}
		.faemail, .fauser, .fapassword, .fapassword-confirm {
			padding: 5px 0 5px 10px;
	    position: absolute;
	    z-index: 2;
	    color: rgba(51, 104, 165, 0.51);
			border-left: 1px solid #eaeaea;
		}
		.fauser {
			right: 40px;
			top: 48px;
		}
		.faemail {
	    right: 40px;
	    top: 110px;
		}
		.fapassword {
			right: 40px;
			top: 175px;
		}
		.fapassword-confirm {
			right: 40px;
			top: 235px;
		}
		form#new_user.new_user input {
			padding: 23px 45px;
		}
	}
}








/* --------------------------------------------------- */