$navbar-default-bg: #DB504A;

.navbar {
	font-size: 14px;
	padding: 10px 0;
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	background-color: #DB504A;
}

#blog {
	.blog-hero {
		padding: 200px 0;
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('blog-hero.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	h1 {
		color: #fff;
		font-size: 50px;
	}
	.blog-content {
		background-color: #f2f2f4;
		padding: 100px 0;
		.panel {
			.panel-heading {
				margin: 0;
				padding: 0;
				border: none;
			}
			transition: all 0.3s;
			border: none;
			border-radius: 0;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			a {
				color: #666;
				padding-bottom: 6px;
				border-bottom: solid 1px #d1d1d1;
			}
			p {
				margin: 20px 0;
				color: #7a7a7a;
				line-height: 25px;
			}
			span {
				color: #d8d8d8;
			}
			&:hover {
				a {
					transition: all 0.3s;
					color: #fff;
					text-decoration: none;
				}
				.panel-body {
					transition: all 0.3s;
					background-color: #515151;
				}
				p {
					color: #f7f7f7;
				}
			}
		}
	}
}

#blog-show {
	background-color: #f2f2f4;
	padding: 22px 0 200px 0;
	.blog-show-hero {
		padding-right: 30px;
		padding-left: 30px;
	}
	.well {
		border: none;
		border-radius: 0;
		background-color: #15377E;
		color: #fff;
		h3 {
			margin-top: 0px;
			padding: 10px 0;
			span {
				font-size: 14px;
			}
		}
		.img-signup {
			background-color: #fff;
			padding: 45px 0;
			a {
				width: 100px;
				padding: 10px 45px;
				font-size: 18px;
				background-color: #15377E;
				top: 0;
				bottom: 0;
				color: #fff;
				border: solid 1px #15377E;
				&:hover {
					text-decoration: none;
					background-color: darken(#15377E, 5%);
				}
			}
			p {
				margin-top: 30px;
				color: #43AEF8;
			}
		}
	}
	.panel {
		border: none;
		box-shadow: 0;
		border-radius: 0;
		.panel-heading {
			position: relative;
			padding: 0;
			margin: 0;
			border: none;
		}
		.panel-body {
			padding: 0 80px 40px 80px;
			p {
				color: #7a7a7a;
				line-height: 33px;
				margin-top: 25px;
			}
			.col-md-6 {
				padding: 0;
			}
			.col-md-4 {
				padding: 0;
			}
			.meta {
				padding: 30px 0;
			}
			span {
				color: #8b8b8b;
			}
			.date {
				padding-left: 20px;
			}
			.by {
				padding-right: 20px;
			}
			
		}
		
		.panel-footer {
			border: none;
			border-radius: 0;
			background-color: #f2f2f4;
			padding: 20px 20px;
			box-shadow: none;
		}
	}
	img.img-responsive {
		padding: 0;
		margin: 0;
	}
	h1 {
		margin-bottom: 0;
		position: absolute;
		width: 100%;
		z-index: 1000;
		bottom: 0px;
		right: 0px;
		padding: 70px 40px 40px 0;
		color: #fff;
		background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
	}
	.col-md-10 {
		padding: 0;
		margin: 0;
	}
	.blog-show-content {
		padding: 100px 0;
		
	}
}


@media only screen and (max-width : 768px) {
	#subjects {
		display: none;
	}
	
	#blog-show .panel .panel-body {
		padding: 10px 20px 40px 20px;
	}
}









