$navbar-default-bg: #DB504A;

#course {
	.course-hero {
		padding: 200px 0;
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('courses.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	h1 {
		color: #fff;
		font-size: 50px;
	}
	p.text-center {
		color: #c1c1c1;
		font-size: 30px;
	}
	.course-content {
		background-color: #f2f2f4;
		padding: 100px 0;
		.panel {
			border: none;
			border-radius: 0;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			.panel-heading {
				margin: 0;
				padding: 0;
				border: none;
				position: relative;
				transition: all 0.3s;
				a.title {
					color: #f1f1f1;
					padding: 50px 30px;
					background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3));
					position: absolute;
					width: 100%;
					bottom: 0;
				}
				&:hover {
					a.title {
						transition: all 0.3s;
						background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
						text-decoration: none;
						color: #fff;
					}
				}
			}
			.panel-body {
				padding: 20px 40px;
				.row {
					padding: 8px 0;
					border-bottom: 1px dotted #cdcfcf;
				}
			}
			.panel-footer {
				padding: 20px 15px;
				.btn {
					border-radius: 0;
					border: none;
					padding: 15px 0;
				}
				.btn.btn-success {
					background-color: #15377E;
				}
				.btn.btn-success:hover {
					background-color: darken(#15377E, 5%);
				}
			}
			p {
				margin: 20px 0;
				color: #7a7a7a;
				line-height: 25px;
			}
			span {
				color: #cdcfcf;
			}
		}
	}
}

#course-show {
	background-color: #f2f2f4;
	padding: 22px 0 200px 0;
	.course-show-hero {
		padding-right: 30px;
		padding-left: 30px;
	}
	h2 {
		padding: 20px;
	}
	.well {
		border: none;
		border-radius: 0;
		background-color: #15377E;
		color: #fff;
		h3 {
			margin-top: 0px;
			padding: 10px 0;
			span {
				font-size: 14px;
			}
		}
		.img-signup {
			background-color: #fff;
			padding: 45px 0;
			a {
				width: 100px;
				padding: 10px 45px;
				font-size: 18px;
				background-color: #15377E;
				top: 0;
				bottom: 0;
				color: #fff;
				border: solid 1px #15377E;
				&:hover {
					text-decoration: none;
					background-color: darken(#15377E, 5%);
				}
			}
			p {
				margin-top: 30px;
				color: #43AEF8;
			}
		}
	}
	.panel {
		border: none;
		box-shadow: 0;
		border-radius: 0;
		.panel-heading {
			position: relative;
			padding: 0;
			margin: 0;
			border: none;
		}
		.panel-body {
			padding: 0 80px 40px 80px;
			p {
				color: #7a7a7a;
				line-height: 33px;
				margin-top: 25px;
			}
			.col-md-6 {
				padding: 0;
			}
			.col-md-4 {
				padding: 0;
			}
			.meta {
				padding: 30px 0;
			}
			span {
				color: #8b8b8b;
			}
			.date {
				padding-left: 20px;
			}
			.by {
				padding-right: 20px;
			}
			
		}
		.panel-footer {
			padding: 20px 15px;
			.btn {
				border-radius: 0;
				border: none;
				padding: 15px 10px;
			}
			.btn.btn-success {
				background-color: #15377E;
			}
			.btn.btn-success:hover {
				background-color: darken(#15377E, 5%);
			}
		}
	}
	a.back {
		padding: 10px;
		margin-top: 30px;
	}
	img.img-responsive {
		padding: 0;
		margin: 0;
	}
	h1 {
		margin-bottom: 0;
		position: absolute;
		width: 100%;
		z-index: 1000;
		bottom: 0px;
		right: 0px;
		padding: 70px 40px 40px 0;
		color: #fff;
		background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
	}
	.col-md-10 {
		padding: 0;
		margin: 0;
	}
	.blog-show-content {
		padding: 100px 0;
		
	}
}






