<% title @tutorial_type.title %>
<section id="tutorial-index">
	<div class="container">
		<div class="page-header">
			<h1>دسته ها</h1>
		</div>
		<div class="row">
      <%= render 'tutorials/tutorials_index', tutorials: @tutorial_type.tutorials %>
    </div>
  </div>
</section>